@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family:  Arial, verdana, sans-serif;
}

.container {
    background-color: white;
    width: 900px;
    height: 1250px;
    margin: 0 auto;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.101);
    
}

header img {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    box-shadow: 30px 0px 0px 8px red;

}

h1 {
    color: red;
    font-family:Arial, Verdana, sans-serif;
    font-size: 2.5em;
    text-shadow: 5px 1px 7px rgba(0, 0, 0, 0.24);
    width: 600px;
    float: right;
    margin-top: 120px;
    
}

section h2 {
    background-image: linear-gradient( to right, grey, transparent);
    color: red;
    padding-left: 20px;

}

section p{
    text-align: justify;
    font-family: Arial, Verdana, sans-serif;
    margin: 20px 40px 20px 20px;
}

ul {
    margin-top: 20px;
}

li {
  list-style-position: inside;
  margin-top: px;
  margin-left: 30px;  
}

main {
    background-color: red;
    width: 350px;
    height: 900px;
    float: left;
}
main h2 {
    color: white;
    text-align: center left;
    margin-top: 50px;
    margin-left: 50px;    
}

main p {
    text-align: center left;
    font-size: 1.5em;
    margin-left: 60px;
    margin-right: 100px;
    margin-bottom: 40px;
}

address > h3 {
    color: white ;
    font-size: 1.5em;
    text-align: left;
    margin-right: 40px;
    margin-left: 100px;
}


address > p {
    color: white;
    font-size: 1.5em;
    text-align: left;
    margin-right: 40px;
    margin-left: 100px;    
}

section {
    width: 550px;
    height: 900px;
    float: right;    
}

figure {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 320px;
}

figure > p {
    color: white;
    margin: auto;
    height: 136px;
    width: 323px;
}

footer {
    display: inline-block;
    
    width: 900px;
    height: 100px;
}

.icones {
    display: inline-block;
    width: 60px;
    margin-top: 20px;
    margin-left: 50px;
    margin-inline-end: 30px;

       
}

#frase > p {
    color: red;
     font-size: 2.2em;  
     font-weight: bold; 
     
}

